.main {
  background-color: gray;
  margin: auto;

  justify-content: center;
  padding: 10px;
  width: 400px;
}

.h1 {
  color: rgb(14, 14, 87);
}

.h2 {
  color: rgb(78, 22, 131);
}

.p1 {
  color: red;
}

.button {
  padding: 3px;
  background: #494949;
  font-size: 20px;
  color: rgb(1, 37, 1);
}

.button:hover {
  background: rgb(1, 37, 1);
  color: white;
  cursor: pointer;
}
.console {
  color: rgb(126, 64, 19);
  font-size: larger;
}
